body {
  margin: 0; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  width: 100%;
  height: 70px;
  background-color: #f05a22;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
}
.nav1{
  width: 20%;
  height: 30px;
  background-color: white;
  display: flex; 
  justify-content: space-around; 
  border-radius: 10px 10px;
  align-items: center;
}
img{
  height: 20px; 
}
h5{
  position: fixed;
  left: 0%;
  padding-left: 20px;
  color: white;
}
/* Home.css */
.post-image {
  width: 200px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  object-fit: cover; /* Preserve the aspect ratio and cover the entire container */
  border-radius: 8px; /* Optional: Add a border radius for rounded corners */
}
h1{
  padding-top: 60px; 
}
input{
  width: 98%; 
}
.fixed-title {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #fff; /* Set background color as needed */
  padding: 10px; /* Add padding to the fixed title */
  z-index: 1; /* Ensure it's above other elements */
}

.fixed-input {
  position: fixed;
  top: 120px; /* Adjust top position to avoid overlap with fixed title */
  left: 10px; /* Adjust left position to add space from the left */
  z-index: 1;  
}

.post-container {
  padding-left: 10px;
  margin-top: 60px;
  width: 400px;
  height: 300px;
  border: 1px solid #ddd; /* Add a border for better visibility */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin-right: 10px; /* Add margin to the right for better spacing */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 1px 25px #1d1c1c; 
}

.post-image {
  width: 50%;
  height: 50%;
  object-fit: cover;  
  padding-top: 10px;
}
h2{ 
  font-size: 17px;
}
p{
  font-size: 10px;
}
a{
  color: #f05a22;
  text-decoration: none;

}
.flex-box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 120px;
}
.flex-box-1{
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap; 
}
button{
  background-color: #f05a22;
  border: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px 10px;
}
/* Add this to your CSS file */
.detail-button, .user-info-button {
  background-color: #f05a22;
  color: black;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.detail-button.active, .user-info-button.active {
  background-color: rgb(234, 220, 220); /* Change to your desired active color */
  color: black; /* Change to your desired active text color */
}

.flex-box-2 {
  background-color: #f1f1f1  ;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.post-container-2{
  padding-left: 10px;
  margin-top: 60px;
  width: 400px;
  height: 350px;
  border: 1px solid #ddd; /* Add a border for better visibility */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin-right: 10px; /* Add margin to the right for better spacing */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 1px 25px #1d1c1c; 
}
img{
  cursor: pointer;
}